@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(252 231 243);
}
.flex-center {
  @apply flex justify-center items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.mycontainer {
  @apply w-[80%] mx-auto my-0;
}

.main-color {
  @apply bg-pink-300 text-white;
}

.main-button {
  @apply bg-indigo-800 text-white py-2 px-4 hover:bg-indigo-900;
}

.link {
  @apply px-2 py-1 text-white hover:text-pink-200 cursor-pointer relative overflow-hidden;
}

.link::after {
  content: " ";
  background-color: white;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: all;
  transition-duration: 500ms;
}

.link:hover::after {
  left: 0;
}

.time-table {
  @apply bg-slate-600 bg-opacity-70 opacity-80 text-white w-[110px] h-[110px] flex flex-col justify-center items-center rounded-full uppercase font-bold p-2;
}

.input {
  @apply w-[250px] h-[35px] my-1 p-2 outline-none border-2 text-stone-500 border-slate-200;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: pink;
  color: pink;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin-top: 5px;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: pink;
  color: pink;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: pink;
  color: pink;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #07021b;
  }
  50%,
  100% {
    background-color: pink;
  }
}
