@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(252 231 243);
}
.flex-center {
  @apply flex justify-center items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.mycontainer {
  @apply w-[80%] mx-auto my-0;
}

.main-color {
  @apply bg-pink-300 text-white;
}

.main-button {
  @apply bg-indigo-800 text-white py-2 px-4 hover:bg-indigo-900;
}

.link {
  @apply px-2 py-1 text-white hover:text-pink-200 cursor-pointer relative overflow-hidden;
}

.link::after {
  content: " ";
  background-color: white;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: all;
  transition-duration: 500ms;
}

.link:hover::after {
  left: 0;
}

.time-table {
  @apply bg-slate-600 bg-opacity-70 opacity-80 text-white w-[110px] h-[110px] flex flex-col justify-center items-center rounded-full uppercase font-bold p-2;
}

.input {
  @apply w-[250px] h-[35px] my-1 p-2 outline-none border-2 text-stone-500 border-slate-200;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: pink;
  color: pink;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin-top: 5px;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: pink;
  color: pink;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: pink;
  color: pink;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #07021b;
  }
  50%,
  100% {
    background-color: pink;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 0 auto 50px;
  border: 2px solid rgba(0, 0, 0, 0.596);
  padding: 10px 20px;
  font-size: 25px;
  color: rgb(71 85 105);
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

@media (max-width: 500px) {
  .main-title {
    font-size: 18px;
  }
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #a7fcc6;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
